/*******************************************************

                   GENERAL STYLES

********************************************************/

.vertical-align {

    position: relative;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -moz-transform: translateY(-50%);

    transform: translateY(-50%);

}

.spacing{
    padding: 100px 10px;
}
/*
************************************************
******************FONTS*************************
**************************************************
*/

@font-face {

    font-family: 'grotesk';

    src:url(fonts/grotesk.otf);

}

@font-face {

    font-family: 'neoteric-bold';

    src:url(fonts/neoteric-bold.ttf);

}

/* GENERAL STYLES */
html {
    overflow-x: hidden;
}

.no-margin {
    margin: 0;
}

/*
************************************************
******************NAVIGATION*************************
**************************************************
*/

nav{


    background-color: rgba(0,0,0,.4);



}
.navbar{
    position:fixed;

    width:100%;

    z-index: 100;
}

#navbar .btn{
    background-color: transparent;
}

nav .fa{
    color: white;
}

#menu   {
    position:absolute;

    position:fixed;
    left:91%;

    top:6%;

    z-index: 10;
}

#menu ul{

    list-style-type: none;



}


#menu li{

    font-family: 'grotesk', sans-serif;

    color:black;

    font-size: 20px;

    text-align: center;

    margin-top:10%;

    padding-right:10% ;

    cursor: pointer;



}

#menu li:hover {

    background-color: rgba(0,0,0,.4);


}
/*
************************************************
******************WELCOME*************************
**************************************************
*/
#welcome{
    min-height: 100vh;
}



#welcome video#bgvid {
    position: fixed;

    top: 50%;

    left: 50%;

    min-width: 100%;



    width: auto;

    height:auto;

    z-index: -1000;

    -ms-transform: translateX(-50%) translateY(-50%);

    -moz-transform: translateX(-50%) translateY(-50%);

    -webkit-transform: translateX(-50%) translateY(-50%);

    transform: translateX(-50%) translateY(-50%);

    background: url(../img/welcome/vrBg.png) no-repeat;

    background-size: cover;
}



#welcome .showInfo{

    position:absolute;

    bottom:0;

    background-color: rgba(0,0,0,.4);

    width: 100%;

    text-align: center;


}



#welcome  .fa{
    color:white;
}

#welcome .descriptions{

    position:absolute;

    bottom:47px;
}

#welcome .descriptionsRow{
    background-color: rgba(0,51,51,.7);
}

#welcome h2{
    font-family: 'grotesk', sans-serif;

    color: white;

    font-size: 20px;

    margin: 10% 0 5% 0;

}

#welcome .definition{

    font-family: "Myriad Pro", sans-serif;

    color: white;

}

#welcome .borders{
    border-left: white solid 3px;

    border-right:white solid 3px;

    padding-left: 5%;

    padding-right:5%;
}



#welcome .hideInfo {

    background-color: rgba(0, 0, 0, .4) ;

    width: 100%;

    text-align: center;
}

#welcome .img-fluid {

    width: 30%;

    height:100%;

    margin-left: 25%;


}



/*
************************************************
******************SECTORS*************************
**************************************************
*/
#sectors {
    background: url('../img/sectors/sectorsBg.png') no-repeat center center;

    background-size: cover;

    height: calc(100vh);

    width: 100%;
}

#sectors .col-sm-4{
    margin-top: 15%;
}

#sectors .titleNeo{
    font-family: 'neoteric-bold', sans-serif;

    font-weight: bold;

    font-size: 50px;

    color:black;

    text-align: right;


}

#sectors .titleGrotesk{
     font-family: 'grotesk', sans-serif;

     font-size:  50px;

     color:black;

     text-align: right;

 }

#sectors .titleGroteskBottom{
    font-family: 'grotesk', sans-serif;

    font-size:  30px;

    color:black;

    text-align: right;
}

#sectors .sectorsTitle:after{
    content:'';

    width:120px;

    height:4px;

    background:#006666;

    position:absolute;

    bottom:-4px;

    right:0;

}

#sectorsExamples {
    background-color: white;

}

#sectorsExamples .img-fluid{
    width:100%;
}



#sectorsExamples>.row:nth-of-type(1)>.col-sm-6:nth-of-type(2),
#sectorsExamples>.row:nth-of-type(2)>.col-sm-6:nth-of-type(1),
#sectorsExamples>.row:nth-of-type(3)>.col-sm-6:nth-of-type(2),
#sectorsExamples>.row:nth-of-type(4)>.col-sm-6:nth-of-type(1),
#sectorsExamples>.row:nth-of-type(5)>.col-sm-6:nth-of-type(2),
#sectorsExamples>.row:nth-of-type(6)>.col-sm-6:nth-of-type(1),
#sectorsExamples>.row:nth-of-type(7)>.col-sm-6:nth-of-type(2) {
    padding: 0;
}

/*
************************************************
******************PROjECTS*************************
**************************************************
*/

#projects {

    background-color: white;
}

#projects .img-fluid{
    min-height: 100%;

    min-width: 100%;


}

#projects>.conatiner>.row:nth-of-type(1)>.col-sm-4:nth-of-type(1)>.img-container:nth-of-type(1){
    height:700px;

    overflow: hidden;
}


#projects>.conatiner>.row:nth-of-type(1)>.col-sm-4:nth-of-type(2)>.img-container:nth-of-type(1){
    height:230px;

    overflow: hidden;


}

#projects>.conatiner>.row:nth-of-type(1)>.col-sm-4:nth-of-type(2)>.img-container:nth-of-type(2)>.img-fluid:nth-of-type(1){

    padding-top: 3%;

}

#projects>.conatiner>.row:nth-of-type(1)>.col-sm-4:nth-of-type(2)>.img-container:nth-of-type(2){
    height:470px;

    overflow: hidden;
}

#projects>.conatiner>.row:nth-of-type(1)>.col-sm-4:nth-of-type(3)>.img-container:nth-of-type(1){
    height:350px;

    overflow: hidden;

    padding-bottom: 2%;
}

#projects>.conatiner>.row:nth-of-type(1)>.col-sm-4:nth-of-type(3)>.img-container:nth-of-type(2)>.img-fluid:nth-of-type(1){

    padding-top: 3%;

}

#projects>.conatiner>.row:nth-of-type(1)>.col-sm-4:nth-of-type(3)>.img-container:nth-of-type(2){
    height:350px;

    overflow: hidden;
}
/*
************************************************
******************TEAM*************************
**************************************************
*/

#team{
    background-color: white;
}

#team .img-container{


    border-radius: 50%;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding-top: 100%;



}



#team .img-container img{
    width: 100%;
    position: absolute;

    top:0;
    left:0;
}



/*
************************************************
******************  BLOG    *************************
**************************************************
*/

#blog{
    background-color: white;
}

#blog :before{
    content:'';


    background-color:#006666 ;

    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg);

    overflow: hidden;

    height:5000px;

    width:5000px;

    z-index: -5;
}

#blog .img-container{
    height:400px;

    overflow: hidden;

    position:relative;

}

#blog img{
    min-width: 100%;

    min-height: 100%;
}


#blog .entryDestription{
    background-color: #ffffff;
}


/*
************************************************
******************MEDIA QUERRIES*************************
**************************************************
*/
@media (max-width: 1200px) {
    #welcome ul{

        left:85%;

    }

}


@media screen and (max-device-width: 800px) {
    html {
        background: url(../img/welcome/vrBg.png) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}



